<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dispositivos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor='let Group of ListaDeDispositivos'>
      <label>{{Group.GroupName}}</label>
      <div *ngFor='let Dispositivo of Group.Dispositivos'>
      <img class='imgStyle' [src]=Dispositivo.Img>{{Dispositivo.Name}},
      <span *ngIf=Dispositivo.State>Prendido</span>
      <span *ngIf=!Dispositivo.State>Apagado</span>
      <label class="switch">
          <input type="checkbox" (click)='changeState(Group.TopicID,Dispositivo)'>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </ion-list>
</ion-content>
